@import '../../App.scss';

.containerCharacter{
    .part{
        @include flex(center, center, row);
        padding: 7em;
        @include media('<=desktop') {
            display: inline; 
         }
        img{
            width: 500px;
            padding: 3em;
            @include media('<=tablet') {
                width: 500px;
                padding: 2em 6em;
            }
            @include media('<=surface') {
                width: 200px;
                padding: 2em 0em;
                transform: translateX(-30px);
            }
            @include media('<=fold') {
                transform: translateX(-60px);
            }
        }
        .text{
            padding: 0 6em;
            text-align: justify;
            max-width: 20em;
            font-size: 1.5em;
            @include media('<=tablet') {
                font-size: 1.5em;
                margin-bottom: 2em;
            }
            @include media('<=surface') {
                font-size: 1em;
                padding: 0 3em;
            }
            @include media('<=phone') {
                font-size: 1.5em;
                padding: 0 2em;
            }
            @include media('<=desktop') {
                font-size: 1.5em;
                max-width: 40em;
            }
            @include media('<=fold') {
                font-size: 1em;
                padding: 0 1em;
                margin-left: 3em;
            }
            h3{
                font-size: 2em;
                font-weight: 100;
                text-align: center;
                @include media('<=tablet') {
                    font-size: 1.5em;
                }
            }
        }
    }
}