@import './media';

@mixin flex($justify, $align, $direction) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

@font-face {
	font-family: 'HanginCaps';
	src: url('./fonts/HanginCapsThin-Thin.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'BarlowCondensed';
	src: url('./fonts/BarlowCondensed-Light.otf');
	font-style: normal;
}